/* global */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  margin: 40px;
  text-align: center;
}

h2 {
  color: #0a0a0a;
  font-weight: 600;
  font-size: 34px;
}

/* container */
.container {
  width: 70%;
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* tabel */
table {
  border-collapse: collapse;
  width: 90%;
  background-color: #fff;
  margin: auto;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: #fff;
  font-weight: 600;
}

a{
    text-decoration: none;
}
/* tambah data */
.tambah-data {
  display: block;
  text-align: left;
  width: 90%;
  margin: 10px auto;
}

.tambah-data a {
  background-color: #007bff;
  color: #fff;
  padding: 8px 14px;
  border-radius: 5px;
}

.tambah-data a:hover {
  background-color: #0056b3;
}

/* form */
form {
  margin-top: 20px;
}

input[type=text],
input[type=number] {
  width: 60%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type=submit], button {
  padding: 10px 18px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover,
button:hover {
  background-color: #218838;
}

/* ===== LINK Aksi Edit/Hapus ===== */
.action a {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.action a.edit {
  background-color: #ffc107;
  color: #000;
}

.action a.edit:hover {
  background-color: #e0a800;
}

.action a.hapus {
  background-color: #dc3545;
  color: #fff;
}

.action a.hapus:hover {
  background-color: #b02a37;
}
