body {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  background-color: #f8f9fa;
  margin: 40px;
  text-align: center;
}

h2 {
  color: #0a0a0a;
  font-weight: 600;
  font-size: 34px;
}

table {
  border-collapse: collapse;
  width: 60%;
  background-color: #fff;
  margin: auto;
}

.tambah-data {
  display: block;
  text-align: left;
  margin-left: 20%; 
  margin-top: 5px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #007bff;  
  color: #0a0a0a;              
  text-align: center;         
  padding: 10px;             
}


a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

input[type=text], input[type=submit] {
  padding: 8px;
  margin: 5px 0;
}

input[type=submit] {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #218838;
}

